@using TalisScraper.Objects
@model Base
@{
    ViewBag.Title = "Index";
}



@if (Model == null || Model.Items == null)
{
    <div>Generic error message</div>
    <a href="\">Home</a>
}
else
{
    <h4>Organizational Unit</h4>
    @Html.Partial("_elementViewTemplate", Model.Items.OrganizationalUnit, new ViewDataDictionary { {"Browsable", "true"}})

    <h4>Code</h4>
    @Html.Partial("_elementViewTemplate", Model.Items.Code, new ViewDataDictionary())

    <h4>Description</h4>
    @Html.Partial("_elementViewTemplate", Model.Items.Description, new ViewDataDictionary())

    <h4>Name</h4>
    @Html.Partial("_elementViewTemplate", Model.Items.Name, new ViewDataDictionary())

    <h4>Type</h4>
    @Html.Partial("_elementViewTemplate", Model.Items.Type, new ViewDataDictionary())

    <h4>Knowledge Grouping</h4>
    @Html.Partial("_elementViewTemplate", Model.Items.KnowledgeGrouping, new ViewDataDictionary { { "Browsable", "true" } })

    <h4>Part Of</h4>
    @Html.Partial("_elementViewTemplate", Model.Items.PartOf, new ViewDataDictionary { { "Browsable", "true" } })

    <h4>Uses List</h4>
    @Html.Partial("_elementViewTemplate", Model.Items.UsesList, new ViewDataDictionary { { "Browsable", "true" } })

    <h4>Anticipated Student Numbers</h4>
    @Html.Partial("_elementViewTemplate", Model.Items.AnticipatedStudentNumbers, new ViewDataDictionary())

    <h4>Contains</h4>
    @Html.Partial("_elementViewTemplate", Model.Items.Contains, new ViewDataDictionary { { "Browsable", "true" } })

    <a href="\">Home</a>
}
